.button {
    background-color: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;

    &--link {
        background: none;
        font-size: 1.25rem;
        
        &:hover {
            color: $orange;
        }

    }
    &--secondary {
        background: $light-grey;
    }
    &--dropdown {
        background-color: white;
        padding: 0;
        font-size: 1rem;
        width: 100%;
        border: none;
        padding: $s-size 0;

        &:hover {
            color: $orange;
        }
    }
}

//Overriding Materialize Styles
.btn-drop {
   box-shadow: none;
   background: blue;
}
