.button {
    background-color: $purple;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size;
    text-decoration: none;

    &-container {
        text-align: center;
    }
    &--trend, &--trend:focus, &--clear {
        background: $dark-purple;
        margin: $m-size;
        margin-bottom: 0;
        border: none;
        color: white;
        display: inline-block;
        font-size: $font-size-large;
        font-weight: 300;
        line-height: 1;
        padding: $s-size;
        text-decoration: none;
    }
    &--clear {
        margin: $s-size;
        padding: $m-size;
    }   

    &--link {
        background: none;
        font-size: 1.75rem;
          

        &:hover {
            color: $orange;
        }

    }
    &--hidden {
        display: none !important;
    }
    &--secondary {
        background: $light-grey;
    }
    &--dropdown, &--dropdown:active {
        background-color: white;
        padding: 0;
        font-size: 1.3rem;
        width: 100%;
        border: none;
        padding: $s-size 0;
        color: black;
        width: 100%;
        a {
            display: block;
        }

        &:hover, &:active {
            color: $orange;
            background-color: white;
        }
      
    }

    &--dropdown {
        color: black;
    }

    &:focus {
        background: none;
    }


}

//Overriding Materialize Styles
.btn-drop {
   box-shadow: none;
   background: blue;
}