.chart {
    
    &-container {
        height: 500px;
        width: 100%;
        margin: $s-size 0;

        @media (max-width: $desktop-breakpoint) {
            height: 250px;
        }   
    }

    &-title {
        background: $light-grey;

        &__link {
            text-decoration: none;
            color: $light-purple;
        }

        &__amount {
            color: $purple;
        }

        &--container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            button {
                height: 50%;
            }

            @media (max-width: $desktop-breakpoint) {
                text-align: center;
                flex-direction: column;
            }  
        }

        h1 {
            font-size: 3rem; 
            margin: 0;
            padding: $m-size 0;
        }

    }
}