.chart {
    
    &-container {
        height: 500px;
        width: 100%;
        margin: $l-size 0;
    }

    &-title {
        background: $light-grey;

        &__link {
            text-decoration: none;
            color: $light-purple;
        }

        &--container {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            button {
                height: 50%;
            }
        }

        h1 {
            font-size: 3rem; 
            margin: 0;
            padding: $m-size 0;
        }

    }
}