.chart {
    
    &-container {
        height: 500px;
        width: 100%;
        margin-bottom: $l-size;
    }

    &-title {
        background: $light-grey;

        &__link {
            text-decoration: none;
            color: $light-purple;
        }

        h1 {
            font-size: 3rem; 
            margin: 0;
            padding: $s-size 0;
            margin-bottom: $s-size;
        }

    }
}