.doc {
    .collapsible-body {
        padding: 0 !important;
    }

    .side-nav {
        background-color: lighten($dark-purple, 50%);
        color: white;

        li, a {
            background-color: lighten($dark-purple, 50%);
            color: white;
        }

        a:hover {
            background-color: lighten($dark-purple, 50%);
            color: white;
        }

        .logo {
            margin: $s-size 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @media (min-width: $desktop-breakpoint) {
                transform: translateX(0%) !important;
        }
    }

    main {
        margin-left: 0;
        max-width: 120em;
        
        @media (min-width: $desktop-breakpoint) {
            margin-left: 200px;
        }
    }

    &-header {
        background: $dark-purple;

        h1 {
            margin: 0;
            padding: 0;
            padding: 0.5em;
            padding-left: 0;
            color: white;
        }
    }
    &-content {
        margin-top: 2.5em;
    }
}