.footer {
    background: $dark-purple;
    color: white;
    height: 100px;
    position: relative;

    &-end {
        background: darken($dark-purple, 5%);
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    a {
        color: $light-purple;
        cursor: pointer;
        margin-left: 0.5rem;
    }

    p {
        margin: 0;
        padding: 0;
        padding: $s-size;
        padding-left: 0;
        font-size: 1.5rem;
    }
}