.header {
    background: $dark-purple;

    &__title {
        color: white;
        text-decoration: none;


        h1 {
            margin: 0;
            font-size: 2.7rem;
        }
    }
    
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $s-size 0;
    }

}